<!DOCTYPE html>
<html>
<title>AP</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Perfil</a>
    <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Mi juego</a>
    
  </div>

</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:200px 50px">
  <h1 class="w3-margin w3-jumbo">alejandro pratesi</h1>
  <p class="w3-xlarge"><small>template by</small><strong> alejandro.pratesi</strong></p>
  <p class="w3-xlarge">web Developer / Photographer</p>
 
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Iniciar</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-white w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Perfil</h1>
      <h5 class="w3-padding-32">
        Soy un programador de sistemas y diseñador web apasionado por su trabajo.
        <br>
        Tengo más de 10 años de experiencia más de un centenar de proyectos en los que he participado
         y realizado desde cero... y siguen aumentando.
         <br>
Mi especialidad es el Desarrollo de Sistemas a Medida.




      </h5>

      <p class="w3-text-grey">Especialidad: Java, JUnit, DBUnit,
         Tapestry 3, Struts, Spring 3, 
         Hibernate, MySql, Oracle, Eclipse, Jasper
Reports, TDD, Python, Django, Grails, JavaScript, jQuery, CCS3, HTML5.
<br>Considero cada proyecto como un nuevo reto, llevándolo a cabo con entusiasmo y desde una óptica dinámica y creativa, con el objetivo de ofrecer un trabajo competitivo y de calidad.
</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Tutorial del Juego</h1>
      <h5 class="w3-padding-32">
      
El juego de serpientes es un juego de acción que consiste en una serpiente que se mueve constantemente
 dentro de una cuadrícula.<br>
 El jugador controla la dirección de la serpiente con las flechas del teclado,
  pero la serpiente siempre se mueve.<br>
   Cuando la serpiente come algo crece de tamaño.<br>
    Si la serpiente toca los límites de la cuadrícula, o si trata de comerse su propia cola,
     el juego termina. <br>
     El objetivo del juego es mantener a la serpiente con vida el mayor tiempo posible.  
      
      </h5>

      <!--<p class="w3-text-grey"> -->
         <h5 class="w3-padding-32">
        Teclas para jugar:  
        UP , DOWN , LEFT , RIGHT
         </h5>
     <!-- </p> -->
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge"> #User Experience   #Music   #Creative Direction</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-red w3-padding-64 w3-center">  
  <div class="w3-xlarge w3-padding-32">
    
      <a href="https://www.facebook.com/alejandro.pratesi" target="_blank">
      <i class="fa fa-facebook-official w3-hover-opacity"></i></a>

     <a href="https://www.instagram.com/alejandro_pratesi/" target="_blank">
    <i class="fa fa-instagram w3-hover-opacity"></i></a>

    <a href="https://github.com/PratesiAlejandro" target="_blank">
    <i class="fa fa-github w3-hover-opacity"></i></a>

    <a href="https://twitter.com/flacodebarrio" target="_blank">
    <i class="fa fa-twitter w3-hover-opacity"></i></a>

    <a href="https://www.linkedin.com/in/alejandropratesi/" target="_blank">
    <i class="fa fa-linkedin w3-hover-opacity"></i></a>
 </div>
 <p>Powered by    <a href="https://www.linkedin.com/in/alejandropratesi/" target="_blank">alejandro.pratesi</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
