<app-menu-encabezado></app-menu-encabezado>
<div class="container-fluid">
  <div class="col-lg-4">
    <h3>
      <p>Preguntas frecuentes</p>
    </h3>
    <div class="row">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Administrar configuracion de la cuenta</li>
          <li class="list-group-item">Clave de cuenta</li>
          <li class="list-group-item">Contraseña e inicio de sesion</li>
          <li class="list-group-item">Crear o eliminar cuenta</li>
          <li class="list-group-item">Politicas de juegos</li>
          <li class="list-group-item">Seguridad de la cuenta</li>
          <li class="list-group-item">Contactanos</li>
        </ul>
      </div>
    </div>
  </div>
</div>