<app-listado-de-resultados [listado]="listadoParaCompartir"> </app-listado-de-resultados>

<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<ul class="nav nav-pills nav-justified">
    <li class="nav-item active">
     <a (click)="llamaService()">Servicio</a>
    </li>
    
     <li class="nav-item active">
    |
    </li>
    
    <li class="nav-item active">
    <a (click)="llamaServicePromesa()">Serv Promesa</a>
    </li>
     <li class="nav-item active">
    |
    </li>
    
    <li class="nav-item active">
    <a (click)="llamaServicePromesa()">Serv observable</a>
    </li>
  
  </ul> 

</body>
</html>
-->