.card-img-top{
    width: 280px;
    height: 280px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

}



      body {
          font-family: 'Indie Flower', cursive;
          font-size: 17px;
     
      }

