
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body style="background-image: url('/TP_LAV4_2017/assets/imagenes/poker.jpg'); height: 100%;">

  <div class="row">
    <div class="col-sm-3">
    
    </div>
    <div class="col-sm-6">
      <div style="text-align:center">
  <div class="alert alert-dark" role="alert">
    <h3>

      <p class="font-italic font-weight-bold" > {{nuevoJuego.nombre}}</p>
    </h3>
  </div>
 
 </div>
<form name="juego">
<p class="font-italic font-weight-bold" >Ingrese numero:</p>
   <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:100%"/>
    <h1>{{nuevoJuego.numeroIngresado}}  </h1>
 
    <h2 [hidden]="ocultarVerificar"><button  *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()" class="btn btn-success btn-lg">Verificar</button></h2>
 
    <h2><button *ngIf="nuevoJuego.numeroSecreto==0 " (click)="generarnumero()"  class="btn btn-info btn-lg"> Nuevo número secreto</button></h2>
 
    <h2><p *ngIf="nuevoJuego.numeroSecreto!=0" ><i class="fa fa-spinner fa-spin"></i> Esperando que ingrese un número</p></h2>

    <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
    <h3><p [hidden]="nuevoJuego.gano" class="font-italic"> Usted aún no gano</p> </h3>


</form>
<div id="snackbar">{{Mensajes}}</div>

    </div>
    <div class="col-sm-3">
    
    </div>
  </div>
