<app-menu-encabezado></app-menu-encabezado>
<div class="container">
    <div class="row">
          <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h1 class="text-center login-title"></h1>
            <div class="account-wall">
                <img class="profile-img" src="../assets/vaderLogin.jpg" alt="">
                <form class="form-signin">
                <input type="text" class="form-control" placeholder="Email" required autofocus>
                <input type="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Recordarme
                </label>
                <a href="#" [routerLink]="['/Ayuda']" class="pull-right need-help">Necesitas ayuda? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="#" [routerLink]="['/Registrarse']" class="text-center new-account">Crear una cuenta </a>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>