<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <div class="row">
    <div class="col-md-3"></div>
  <div class="col-md-6">

  <div class="panel-heading" align="center">
  <h3> Anagrama de animales</h3>
  </div>
  <div class="panel-body" align="center">

  <h1>{{miJuego.palabraAJugar}}</h1>

  <input type="text" class="form-control input-sm" name="palabraDelUsuario" [(ngModel)]="miJuego.palabraDelUsuario"><br><br>

 <div class="btn-group btn-group-justified">
   <div class="btn-group">
  <button type="button" name="Jugar" (click)="jugar()" value="JUGAR" class="btn btn-success" >Nueva Palabra</button>
   </div>
<div class="btn-group">
  <button type="button" name="Verificar" (click)="verificar(miJuego.palabraDelUsuario)" value="VERIFICAR" class="btn btn-primary">Verificar</button>
</div>
<div class="btn-group">
  <button type="button" name="Rendicion" (click)="rendirse()" value="ME RINDO" class="btn btn-danger">Solucion</button>
</div>
</div>


  <div class="contador">
    <h4>Intentos: {{miJuego.contador}} / 3</h4>
  </div>

<div>
  <strong>{{miJuego.resultado}} </strong> 
</div>

<div class="gano">
  <h3> </h3>
</div>

</div>
  </div>
 <div class="col-md-3" ></div>

</div>
</div>
</body>
</html>



















<!--

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Anagrama</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>

 <body style="background-image: url('/TP_LAV4_2017/assets/imagenes/poker.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <br>
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h3>
              <p class="font-italic font-weight-bold"> {{nuevoJuego.nombre}}</p>
            </h3>
          </div>
        </div>
        <form name="juego">
          <h2><button *ngIf="ocultarComenzar" (click)="generarPalabra()" class="btn btn-info btn-block"><p>Play <i class="fa fa-gamepad fa-2x" aria-hidden="true"></i> </p> </button></h2>
          <h2><button *ngIf="nuevoJuego.numeroSecreto==0 " (click)="generarnumero()" class="btn btn-info btn-lg">Nuevo número secreto</button></h2>
          <h1>{{nuevoJuego.palabraDesordenada}} </h1>
          <br />
          <input [hidden]="ocultarVerificar" [(ngModel)]="nuevoJuego.palabraIngresada" placeholder="ingrese la solucion" name="palabraOrdenadaa"
            type="text" class="form-control" style="width:100%" />
          <br />
          <h2 [hidden]="ocultarVerificar"><button *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()" class="btn btn-success btn-block btn-lg">Verificar</button></h2>
          <h2><button *ngIf="nuevoJuego.numeroSecreto==0 " (click)="generarnumero()" class="btn btn-info btn-block">Nuevo número secreto</button></h2>
          <h3>
            <p *ngIf="!ocultarVerificar">
              Esperando...
              <i class="fa fa-refresh fa-spin fa-2x fa-fw text-danger"></i>
              <span class="sr-only">Loading...</span></p>
          </h3>
          <div id="snackbar">{{Mensajes}}</div>
        </form>

      </div>
      <div class="col-sm-3">

      </div>
    </div>
  </div>
</body>

</html>

-->