
html{

height: 100%;
padding: 10px;

}


body{

height: 100%;
min-height: 100%;
padding: 10px;

}

form {
    border: 10px solid #2196F3;
    padding: 10px;
    min-height: 100%;
    background:orange;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
   
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.Ganador {
    background-color:blue;
}
#snackbar.Perdedor {
    background-color: red;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

